@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: chartreuse;
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 400px;
}

.input {
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: rgb(30, 0, 163);
}

.input:focus {
    outline-color: slategray;
}

.todos {
    background-color: rgb(191, 253, 166);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border-top: 2px solid black;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.todos li.completed {
    color:rgb(247, 0, 0);
    text-decoration: line-through;
}

small {
    color: rgb(255, 0, 0);
    margin-top: 3rem;
    text-align: center;
}
























